In [1]:
# 1. Importando bases
import numpy as np
import pandas as pd
dados_quest_prof         = pd.read_csv(r'./data/TS_PROFESSOR.csv', sep=',')
TS_ALUNO_9EF             = pd.read_csv(r'./data/TS_ALUNO_9EF.csv', sep=',')

In [2]:
# 2. Filtros (professores)
dados_quest_prof_filtro = dados_quest_prof.query('ID_SERIE == 9') # Filtra 9° Série
dados_quest_prof_filtro = dados_quest_prof_filtro.query('ID_UF == 35') # Filtra estado de SP
dados_quest_prof_filtro = dados_quest_prof_filtro.query('IN_PREENCHIMENTO_QUESTIONARIO == 1') #Filtra ??
dados_quest_prof_filtro.query('TX_RESP_Q105 == "B" | TX_RESP_Q105 == "C"', inplace=True) # apenas professores de matemática ou ambos

# 3. Dropando vars sem sentido pós filtros
dados_quest_prof_filtro.drop(['ID_PROVA_BRASIL', 'ID_UF','ID_SERIE','IN_PREENCHIMENTO_QUESTIONARIO'], inplace=True, axis=1)

#3.1. Salvando dados que serão utilizados na tabela final (cód do professor e o questionário)
dados_tabela_final = dados_quest_prof_filtro.loc[:, 'CO_PROFESSOR':].drop_duplicates()
dados_quest_prof_filtro = dados_quest_prof_filtro.loc[:,~dados_quest_prof_filtro.columns.str.contains('^TX', case=False)] # Filtra variáveis de questões

# 4. Removendo duplicados por todas as colunas
dados_quest_prof_filtro = dados_quest_prof_filtro.drop_duplicates()

# 5. Salvando base filtrada
dados_quest_prof_filtro.to_csv(r'./data/TS_PROFESSOR_mod.csv', encoding='utf-8', index=False)
dados_tabela_final

,CO_PROFESSOR,TX_RESP_Q001,TX_RESP_Q002,TX_RESP_Q003,TX_RESP_Q004,TX_RESP_Q005,TX_RESP_Q006,TX_RESP_Q007,TX_RESP_Q008,TX_RESP_Q009,...,TX_RESP_Q116,TX_RESP_Q117,TX_RESP_Q118,TX_RESP_Q119,TX_RESP_Q120,TX_RESP_Q121,TX_RESP_Q122,TX_RESP_Q123,TX_RESP_Q124,TX_RESP_Q125
418948,2017027466,B,F,C,G,E,B,B,A,A,...,F,F,D,E,NaN,NaN,NaN,NaN,NaN,NaN
418954,2017311636,B,E,A,NaN,C,B,B,C,D,...,A,A,A,A,E,F,F,C,F,C
418956,2017261658,A,F,A,F,E,B,B,C,E,...,NaN,NaN,NaN,NaN,F,F,F,C,F,F
418957,2017027467,A,F,A,F,E,B,B,C,E,...,NaN,NaN,NaN,NaN,F,F,F,C,F,F
418958,2017389846,A,F,A,F,E,B,B,C,E,...,NaN,NaN,NaN,NaN,F,F,F,C,F,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600572,2017411197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,F,F,F,D,F,D
600573,2017212480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,F,F,F,D,F,D
600582,2017362013,A,C,C,F,A,B,B,A,A,...,NaN,NaN,NaN,NaN,F,F,F,D,C,E
600598,2017176734,B,D,A,F,D,B,B,A,A,...,NaN,NaN,NaN,NaN,F,F,F,C,F,F
600601,2017226233,B,D,A,F,D,B,B,A,A,...,NaN,NaN,NaN,NaN,F,F,F,D,F,F

In [3]:
# 6. Filtros (alunos)
TS_ALUNO_9EF = TS_ALUNO_9EF.loc[:,~TS_ALUNO_9EF.columns.str.contains('^TX', case=False)] #Filtra questões
TS_ALUNO_9EF = TS_ALUNO_9EF.query('ID_SERIE == 9') # Filtra 9° ano
TS_ALUNO_9EF = TS_ALUNO_9EF.query('ID_UF == 35') # Filtra alunos de SP
TS_ALUNO_9EF = TS_ALUNO_9EF.query('IN_PREENCHIMENTO_PROVA == 1') # Filtra ??

# 7. Dropando vars sem sentido pós filtros
TS_ALUNO_9EF.drop(['ID_PROVA_BRASIL', 'ID_REGIAO', 'ID_UF','ID_SERIE','IN_PREENCHIMENTO_PROVA','IN_PRESENCA_PROVA'], inplace=True, axis=1)

# 8. Salvando base filtrada
TS_ALUNO_9EF.to_csv(r'./data/TS_ALUNO_9EF_mod.csv', encoding='utf-8', index=False)

In [5]:
TS_ALUNO_9EF

,ID_MUNICIPIO,ID_AREA,ID_ESCOLA,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,ID_TURMA,ID_TURNO,ID_ALUNO,IN_SITUACAO_CENSO,ID_CADERNO,...,PESO_ALUNO_MT,PROFICIENCIA_LP,ERRO_PADRAO_LP,PROFICIENCIA_LP_SAEB,ERRO_PADRAO_LP_SAEB,PROFICIENCIA_MT,ERRO_PADRAO_MT,PROFICIENCIA_MT_SAEB,ERRO_PADRAO_MT_SAEB,IN_PREENCHIMENTO_QUESTIONARIO
1379285,3500105,2,35030806,2,1,741273,1,27411454,1,21,...,1.129032,0.084473,0.302601,254.638892,16.671307,0.653566,0.374934,286.493706,20.955934,1
1379287,3500105,2,35030806,2,1,741273,1,27411456,1,8,...,1.129032,-1.046018,0.399787,192.356341,22.025610,-0.705754,0.462136,210.518147,25.829857,1
1379288,3500105,2,35030806,2,1,741273,1,27411457,1,4,...,1.129032,0.018937,0.312150,251.028293,17.197393,0.234721,0.407464,263.083484,22.774111,1
1379289,3500105,2,35030806,2,1,741273,1,27411458,1,17,...,1.129032,0.706571,0.329137,288.912362,18.133264,0.784288,0.306385,293.800063,17.124571,1
1379290,3500105,2,35030806,2,1,741273,1,27411459,1,1,...,1.129032,0.279291,0.314113,265.372070,17.305541,-0.064390,0.450443,246.365474,25.176308,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807852,6309345,2,61212007,2,1,848844,1,27407455,1,6,...,1.333333,-0.386938,0.314495,228.667274,17.326587,-0.371620,0.427951,229.193674,23.919178,1
1807853,6309345,2,61212007,2,1,848844,1,27407456,1,8,...,1.333333,-0.451518,0.393025,225.109345,21.653069,-0.562939,0.400335,218.500410,22.375655,1
1807854,6309345,2,61212007,2,1,848844,1,27407457,1,9,...,1.333333,0.967578,0.303077,303.292116,16.697531,0.638133,0.371348,285.631120,20.755504,1
1807855,6309345,2,61212007,2,1,848844,1,27407458,1,10,...,1.333333,0.978342,0.336168,303.885141,18.520626,0.229803,0.417682,262.808606,23.345219,1
1807856,6309345,2,61212007,2,1,848844,1,27407459,1,5,...,1.333333,0.888966,0.316692,298.961116,17.447627,1.293672,0.305240,322.270721,17.060574,1

In [4]:
print(" O shape de TS_PROFESSOR é: " +str(dados_quest_prof_filtro.shape)+ "\n",
      "O shape de TS_ALUNO_9EF é: " +str(TS_ALUNO_9EF.shape)+ "\n")

 O shape de TS_PROFESSOR é: (15583, 6)
 O shape de TS_ALUNO_9EF é: (325224, 26)

In [5]:
# 9. Faremos um 'super merge' para trazer todas as informações para as chaves da base dos professores
new_df = pd.merge(dados_quest_prof_filtro, TS_ALUNO_9EF,  how='inner', left_on=['ID_MUNICIPIO','ID_ESCOLA','ID_DEPENDENCIA_ADM','ID_LOCALIZACAO','ID_TURMA'], right_on = ['ID_MUNICIPIO','ID_ESCOLA','ID_DEPENDENCIA_ADM','ID_LOCALIZACAO','ID_TURMA'])
new_df.shape

(377618, 27)

In [6]:
# 10. Contado qtde. alunos na base de alunos original
#pd.DataFrame(TS_ALUNO_9EF.value_counts('ID_ALUNO'),columns=['Qtd_Alunos']).sort_values('Qtd_Alunos', ascending=False)

# 11. Contado qtde. alunos na base de alunos original
pd.DataFrame(TS_ALUNO_9EF.value_counts('ID_ALUNO'),columns=['Qtd_Alunos']).count() # Número de Ids Alunos (325224)

# 12. Contado qtde. alunos distintos na base de alunos original
TS_ALUNO_9EF.ID_ALUNO.nunique() # Número de Ids Alunos distintos (325224)

325224

In [7]:
# 13. Contado qtde. alunos na base 'super merge'
#pd.DataFrame(new_df.value_counts('ID_ALUNO'),columns=['Qtd_Alunos']).sort_values('Qtd_Alunos', ascending=False)

# 14. Contado qtde. alunos na base 'super merge'
pd.DataFrame(new_df.value_counts('ID_ALUNO'),columns=['Qtd_Alunos']).count() # 158393

# 15. Contado qtde. alunos distintos na base 'super merge'
new_df.ID_ALUNO.nunique() # Número de Ids Alunos distintos (158393)

158393

In [8]:
# 16. Quantidade de alunos por professor
group_data = new_df.groupby(['ID_MUNICIPIO','ID_ESCOLA','ID_DEPENDENCIA_ADM','ID_LOCALIZACAO','ID_TURMA','CO_PROFESSOR'])['ID_ALUNO'].count().reset_index().rename(columns={'ID_ALUNO':'Qtde_Aluno'})  #sum function
group_data.sort_values('Qtde_Aluno', ascending=True)

#group_data.sort_values('Qtde_Aluno', ascending=False).to_csv(r'C:\Users\wil_m\OneDrive\Área de Trabalho\TC\gruped.csv', encoding='utf-8', index=False)

#1 - Para cada professor a quantidade de alunos
#2 - A quantidade que teve nota superior a média geral do estado (vamos definir como 200).

,ID_MUNICIPIO,ID_ESCOLA,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,ID_TURMA,CO_PROFESSOR,Qtde_Aluno
3770,3516200,61197134,2,1,918832,2017355298,1
13736,3550308,61249251,2,1,741337,2017340015,2
13735,3550308,61249251,2,1,741337,2017027589,2
3767,3516200,61187418,2,1,857067,2017241335,2
6080,3524402,61207273,2,1,771975,2017084206,3
...,...,...,...,...,...,...,...
1006,3505708,35246759,3,1,806811,2017148528,39
1005,3505708,35246759,3,1,806811,2017048350,39
14971,3554102,35056873,3,1,768390,2017333128,39
1008,3505708,35246759,3,1,806811,2017325530,39
14970,3554102,35056873,3,1,768390,2017077569,39

In [9]:
group_data = new_df.groupby(['ID_MUNICIPIO','ID_ESCOLA','ID_DEPENDENCIA_ADM','ID_LOCALIZACAO','ID_TURMA','CO_PROFESSOR']).agg({'ID_ALUNO': 'count','PROFICIENCIA_MT_SAEB': lambda PROFICIENCIA_MT_SAEB: (PROFICIENCIA_MT_SAEB>259).sum() }).reset_index().rename(columns={'ID_ALUNO':'Qtde_Aluno', 'PROFICIENCIA_MT_SAEB':'Qtde_Nota_Sup'})  #sum function
group_data
group_data['PercentagemAlunosAcimaDaMediaNoEstado'] = (group_data['Qtde_Nota_Sup']/group_data['Qtde_Aluno'])*100;group_data

,ID_MUNICIPIO,ID_ESCOLA,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,ID_TURMA,CO_PROFESSOR,Qtde_Aluno,Qtde_Nota_Sup,PercentagemAlunosAcimaDaMediaNoEstado
0,3500105,35030806,2,1,741273,2017027466,31,16,51.612903
1,3500105,35031045,2,1,741274,2017027467,29,16,55.172414
2,3500105,35031045,2,1,741274,2017261658,29,16,55.172414
3,3500105,35031045,2,1,741274,2017389846,29,16,55.172414
4,3500105,35031045,2,1,895085,2017311636,29,12,41.379310
...,...,...,...,...,...,...,...,...,...
15572,6309289,61220319,4,1,949078,2017212480,24,16,66.666667
15573,6309289,61220319,4,1,949078,2017411197,24,16,66.666667
15574,6309289,61239393,4,1,922442,2017362013,13,10,76.923077
15575,6309289,61246384,4,1,822040,2017176734,17,14,82.352941
15576,6309345,61212007,2,1,848844,2017226233,9,7,77.777778

In [10]:
#new_df['PROFICIENCIA_MT_SAEB'].min()
#new_df['PROFICIENCIA_MT_SAEB'].max()
new_df['PROFICIENCIA_MT_SAEB'].mean()
#group_data['Qtde_Aluno'].value_counts()

258.99765062813157

In [11]:
# 17. Quantidade total de alunos por professor
group_data['Qtde_Aluno'].count()

15577

In [12]:
# 18. Quantidade de professor na base original
dados_quest_prof_filtro.CO_PROFESSOR.nunique() # 12571

# 19. Quantidade unica de professor na base 'super merge'
new_df.CO_PROFESSOR.nunique() # 12571

12565

In [13]:
# 18. Quantidade de professor na base original
TS_ALUNO_9EF.ID_ALUNO.nunique() # 325224

# 19. Quantidade unica de professor na base 'super merge'
new_df.ID_ALUNO.nunique() # 158391

158393

In [14]:
# 20. Criando a tabela final com o cód do professor, a resposta de suas questões e a porcentagem de alunos com nota maior que a média
merged_inner = pd.merge(left=dados_tabela_final, right=group_data,left_on='CO_PROFESSOR', right_on='CO_PROFESSOR')
merged_inner

,CO_PROFESSOR,TX_RESP_Q001,TX_RESP_Q002,TX_RESP_Q003,TX_RESP_Q004,TX_RESP_Q005,TX_RESP_Q006,TX_RESP_Q007,TX_RESP_Q008,TX_RESP_Q009,...,TX_RESP_Q124,TX_RESP_Q125,ID_MUNICIPIO,ID_ESCOLA,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,ID_TURMA,Qtde_Aluno,Qtde_Nota_Sup,PercentagemAlunosAcimaDaMediaNoEstado
0,2017027466,B,F,C,G,E,B,B,A,A,...,NaN,NaN,3500105,35030806,2,1,741273,31,16,51.612903
1,2017311636,B,E,A,NaN,C,B,B,C,D,...,F,C,3500105,35031045,2,1,895085,29,12,41.379310
2,2017261658,A,F,A,F,E,B,B,C,E,...,F,F,3500105,35031045,2,1,741274,29,16,55.172414
3,2017027467,A,F,A,F,E,B,B,C,E,...,F,F,3500105,35031045,2,1,741274,29,16,55.172414
4,2017389846,A,F,A,F,E,B,B,C,E,...,F,F,3500105,35031045,2,1,741274,29,16,55.172414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21664,2017411197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,F,D,6309289,61220319,4,1,949078,24,16,66.666667
21665,2017212480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,F,D,6309289,61220319,4,1,949078,24,16,66.666667
21666,2017362013,A,C,C,F,A,B,B,A,A,...,C,E,6309289,61239393,4,1,922442,13,10,76.923077
21667,2017176734,B,D,A,F,D,B,B,A,A,...,F,F,6309289,61246384,4,1,822040,17,14,82.352941
21668,2017226233,B,D,A,F,D,B,B,A,A,...,F,F,6309345,61212007,2,1,848844,9,7,77.777778

In [15]:
# 21. Dropando colunas desnecessárias 
merged_inner.drop(['ID_MUNICIPIO', 'ID_ESCOLA', 'ID_DEPENDENCIA_ADM', 'ID_LOCALIZACAO', 'ID_TURMA', 'Qtde_Aluno', 'Qtde_Nota_Sup'], inplace=True, axis=1)
merged_inner

,CO_PROFESSOR,TX_RESP_Q001,TX_RESP_Q002,TX_RESP_Q003,TX_RESP_Q004,TX_RESP_Q005,TX_RESP_Q006,TX_RESP_Q007,TX_RESP_Q008,TX_RESP_Q009,...,TX_RESP_Q117,TX_RESP_Q118,TX_RESP_Q119,TX_RESP_Q120,TX_RESP_Q121,TX_RESP_Q122,TX_RESP_Q123,TX_RESP_Q124,TX_RESP_Q125,PercentagemAlunosAcimaDaMediaNoEstado
0,2017027466,B,F,C,G,E,B,B,A,A,...,F,D,E,NaN,NaN,NaN,NaN,NaN,NaN,51.612903
1,2017311636,B,E,A,NaN,C,B,B,C,D,...,A,A,A,E,F,F,C,F,C,41.379310
2,2017261658,A,F,A,F,E,B,B,C,E,...,NaN,NaN,NaN,F,F,F,C,F,F,55.172414
3,2017027467,A,F,A,F,E,B,B,C,E,...,NaN,NaN,NaN,F,F,F,C,F,F,55.172414
4,2017389846,A,F,A,F,E,B,B,C,E,...,NaN,NaN,NaN,F,F,F,C,F,F,55.172414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21664,2017411197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,F,F,F,D,F,D,66.666667
21665,2017212480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,F,F,F,D,F,D,66.666667
21666,2017362013,A,C,C,F,A,B,B,A,A,...,NaN,NaN,NaN,F,F,F,D,C,E,76.923077
21667,2017176734,B,D,A,F,D,B,B,A,A,...,NaN,NaN,NaN,F,F,F,C,F,F,82.352941
21668,2017226233,B,D,A,F,D,B,B,A,A,...,NaN,NaN,NaN,F,F,F,D,F,F,77.777778

In [16]:
# 22. Mapeando valores alfabéticos em numéricos 
for col in merged_inner.columns:
    if col != 'CO_PROFESSOR' and col != 'PercentagemAlunosAcimaDaMediaNoEstado':
        merged_inner[col] = merged_inner[col].map({
                                 'A':0,
                                 'B':1,
                                 'C':2,
                                 'D':3,
                                 'E':4,
                                 'F':5,
                                 'G':6,
                                 'H':7,
                                 np.nan:10},
                                 na_action=None)
merged_inner.fillna(0, inplace=True) # removendo NaNs
merged_inner

,CO_PROFESSOR,TX_RESP_Q001,TX_RESP_Q002,TX_RESP_Q003,TX_RESP_Q004,TX_RESP_Q005,TX_RESP_Q006,TX_RESP_Q007,TX_RESP_Q008,TX_RESP_Q009,...,TX_RESP_Q117,TX_RESP_Q118,TX_RESP_Q119,TX_RESP_Q120,TX_RESP_Q121,TX_RESP_Q122,TX_RESP_Q123,TX_RESP_Q124,TX_RESP_Q125,PercentagemAlunosAcimaDaMediaNoEstado
0,2017027466,1,5,2,6.0,4,1,1,0,0,...,5,3,4,10,10,10,10,10,10,51.612903
1,2017311636,1,4,0,10.0,2,1,1,2,3,...,0,0,0,4,5,5,2,5,2,41.379310
2,2017261658,0,5,0,5.0,4,1,1,2,4,...,10,10,10,5,5,5,2,5,5,55.172414
3,2017027467,0,5,0,5.0,4,1,1,2,4,...,10,10,10,5,5,5,2,5,5,55.172414
4,2017389846,0,5,0,5.0,4,1,1,2,4,...,10,10,10,5,5,5,2,5,5,55.172414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21664,2017411197,10,10,10,10.0,10,10,10,10,10,...,10,10,10,5,5,5,3,5,3,66.666667
21665,2017212480,10,10,10,10.0,10,10,10,10,10,...,10,10,10,5,5,5,3,5,3,66.666667
21666,2017362013,0,2,2,5.0,0,1,1,0,0,...,10,10,10,5,5,5,3,2,4,76.923077
21667,2017176734,1,3,0,5.0,3,1,1,0,0,...,10,10,10,5,5,5,2,5,5,82.352941
21668,2017226233,1,3,0,5.0,3,1,1,0,0,...,10,10,10,5,5,5,3,5,5,77.777778

In [17]:
df = merged_inner

In [18]:
merged_inner.loc[merged_inner.PercentagemAlunosAcimaDaMediaNoEstado >= 65, 'EMaiorQue65Percento'] = 1 # maior que 65%

In [19]:
merged_inner.loc[merged_inner.PercentagemAlunosAcimaDaMediaNoEstado < 65, 'EMaiorQue65Percento'] = 0 # menor que 65%

In [20]:
ate65 = df.query('EMaiorQue65Percento == 0')
maior65 = df.query('EMaiorQue65Percento == 1')
maior65 # para teste de influência positiva

,CO_PROFESSOR,TX_RESP_Q001,TX_RESP_Q002,TX_RESP_Q003,TX_RESP_Q004,TX_RESP_Q005,TX_RESP_Q006,TX_RESP_Q007,TX_RESP_Q008,TX_RESP_Q009,...,TX_RESP_Q118,TX_RESP_Q119,TX_RESP_Q120,TX_RESP_Q121,TX_RESP_Q122,TX_RESP_Q123,TX_RESP_Q124,TX_RESP_Q125,PercentagemAlunosAcimaDaMediaNoEstado,EMaiorQue65Percento
24,2017453657,1,5,0,5.0,4,1,1,0,0,...,10,10,5,5,5,3,5,4,65.217391,1.0
25,2017034727,1,5,0,5.0,4,1,1,0,0,...,10,10,5,5,5,3,5,4,65.217391,1.0
26,2017027713,1,5,0,5.0,4,1,1,0,0,...,10,10,5,5,5,3,5,4,65.217391,1.0
27,2017176352,1,2,0,5.0,2,4,1,3,3,...,10,10,5,5,5,4,5,5,80.000000,1.0
33,2017439308,1,4,0,5.0,4,1,1,2,3,...,10,10,5,5,5,3,5,5,76.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21664,2017411197,10,10,10,10.0,10,10,10,10,10,...,10,10,5,5,5,3,5,3,66.666667,1.0
21665,2017212480,10,10,10,10.0,10,10,10,10,10,...,10,10,5,5,5,3,5,3,66.666667,1.0
21666,2017362013,0,2,2,5.0,0,1,1,0,0,...,10,10,5,5,5,3,2,4,76.923077,1.0
21667,2017176734,1,3,0,5.0,3,1,1,0,0,...,10,10,5,5,5,2,5,5,82.352941,1.0
21668,2017226233,1,3,0,5.0,3,1,1,0,0,...,10,10,5,5,5,3,5,5,77.777778,1.0

In [21]:
merged_inner = df

In [22]:
merged_inner.loc[merged_inner.PercentagemAlunosAcimaDaMediaNoEstado > 35, 'EMaiorQue35Percento'] = 1 # maior que 35%

In [23]:
merged_inner.loc[merged_inner.PercentagemAlunosAcimaDaMediaNoEstado <= 35, 'EMaiorQue35Percento'] = 0 # menor que 35%

In [24]:
ate35 = df.query('EMaiorQue35Percento == 0')
maior35 = df.query('EMaiorQue35Percento == 1')
ate35 # para teste de influência negativa

,CO_PROFESSOR,TX_RESP_Q001,TX_RESP_Q002,TX_RESP_Q003,TX_RESP_Q004,TX_RESP_Q005,TX_RESP_Q006,TX_RESP_Q007,TX_RESP_Q008,TX_RESP_Q009,...,TX_RESP_Q119,TX_RESP_Q120,TX_RESP_Q121,TX_RESP_Q122,TX_RESP_Q123,TX_RESP_Q124,TX_RESP_Q125,PercentagemAlunosAcimaDaMediaNoEstado,EMaiorQue65Percento,EMaiorQue35Percento
14,2017254500,1,2,0,5.0,2,1,1,2,3,...,10,5,5,5,2,5,2,33.333333,0.0,0.0
15,2017254500,1,2,0,5.0,2,1,1,2,3,...,10,5,5,5,2,5,2,17.857143,0.0,0.0
16,2017289974,1,2,0,5.0,2,1,1,2,3,...,10,5,5,5,2,5,2,33.333333,0.0,0.0
17,2017289974,1,2,0,5.0,2,1,1,2,3,...,10,5,5,5,2,5,2,17.857143,0.0,0.0
28,2017048453,1,3,0,6.0,4,1,1,2,2,...,4,10,10,10,10,10,10,23.076923,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21553,2017055740,1,3,0,5.0,4,3,1,1,0,...,10,5,5,5,2,5,3,24.000000,0.0,0.0
21554,2017013304,1,3,0,5.0,4,3,1,1,0,...,10,5,5,5,2,5,3,24.000000,0.0,0.0
21555,2017283080,1,3,0,5.0,4,3,1,1,0,...,10,5,5,5,2,5,3,24.000000,0.0,0.0
21614,2017290546,1,4,0,5.0,4,1,1,2,3,...,10,5,5,5,4,5,4,14.285714,0.0,0.0
21644,2017042158,0,4,2,5.0,3,1,1,0,0,...,10,5,5,5,3,5,4,33.333333,0.0,0.0

In [25]:
df = pd.merge(maior65, ate35, how='outer').reset_index().rename(columns={'EMaiorQue65Percento': 'classe'})
df.drop(['EMaiorQue35Percento', 'index'], inplace=True, axis=1)
df

,CO_PROFESSOR,TX_RESP_Q001,TX_RESP_Q002,TX_RESP_Q003,TX_RESP_Q004,TX_RESP_Q005,TX_RESP_Q006,TX_RESP_Q007,TX_RESP_Q008,TX_RESP_Q009,...,TX_RESP_Q118,TX_RESP_Q119,TX_RESP_Q120,TX_RESP_Q121,TX_RESP_Q122,TX_RESP_Q123,TX_RESP_Q124,TX_RESP_Q125,PercentagemAlunosAcimaDaMediaNoEstado,classe
0,2017453657,1,5,0,5.0,4,1,1,0,0,...,10,10,5,5,5,3,5,4,65.217391,1.0
1,2017034727,1,5,0,5.0,4,1,1,0,0,...,10,10,5,5,5,3,5,4,65.217391,1.0
2,2017027713,1,5,0,5.0,4,1,1,0,0,...,10,10,5,5,5,3,5,4,65.217391,1.0
3,2017176352,1,2,0,5.0,2,4,1,3,3,...,10,10,5,5,5,4,5,5,80.000000,1.0
4,2017439308,1,4,0,5.0,4,1,1,2,3,...,10,10,5,5,5,3,5,5,76.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10431,2017055740,1,3,0,5.0,4,3,1,1,0,...,10,10,5,5,5,2,5,3,24.000000,0.0
10432,2017013304,1,3,0,5.0,4,3,1,1,0,...,10,10,5,5,5,2,5,3,24.000000,0.0
10433,2017283080,1,3,0,5.0,4,3,1,1,0,...,10,10,5,5,5,2,5,3,24.000000,0.0
10434,2017290546,1,4,0,5.0,4,1,1,2,3,...,10,10,5,5,5,4,5,4,14.285714,0.0
10435,2017042158,0,4,2,5.0,3,1,1,0,0,...,10,10,5,5,5,3,5,4,33.333333,0.0

In [26]:
# 23. Exportando para arquivo .csv
df.to_csv(r'./data/table_data.csv', encoding='utf-8', index=False) 
# ate35.to_csv(r'Ate35_IN.csv', encoding='utf-8', index=False) 
# maior65.to_csv(r'Maior65_IP.csv', encoding='utf-8', index=False)